<mod name="BotWeapons" global_key="bot_weapons">
    <!--directory points to the directory containing the classes relative to this mods folder-->
    <AddFiles directory="assets">
      <!--Famas-->  
      <object path="units/payday2/weapons/wpn_npc_famas/wpn_npc_famas" />
      <cooked_physics path="units/payday2/weapons/wpn_npc_famas/wpn_npc_famas" />
      <material_config path="units/payday2/weapons/wpn_npc_famas/wpn_npc_famas" />
      <material_config path="units/payday2/weapons/wpn_npc_famas/wpn_npc_famas_contour" />
      <model path="units/payday2/weapons/wpn_npc_famas/wpn_npc_famas" />
      <sequence_manager path="units/payday2/weapons/wpn_npc_famas/wpn_npc_famas" load="true" />
      <unit path="units/payday2/weapons/wpn_npc_famas/wpn_npc_famas" load="true" />
      <texture path="units/payday2/weapons/wpn_npc_famas/famas_df" />
      <texture path="units/payday2/weapons/wpn_npc_famas/famas_nm" />
      
      <!--M14-->  
      <object path="units/payday2/weapons/wpn_npc_m14/wpn_npc_m14" />
      <cooked_physics path="units/payday2/weapons/wpn_npc_m14/wpn_npc_m14" />
      <material_config path="units/payday2/weapons/wpn_npc_m14/wpn_npc_m14" />
      <material_config path="units/payday2/weapons/wpn_npc_m14/wpn_npc_m14_contour" />
      <model path="units/payday2/weapons/wpn_npc_m14/wpn_npc_m14" />
      <sequence_manager path="units/payday2/weapons/wpn_npc_m14/wpn_npc_m14" load="true" />
      <unit path="units/payday2/weapons/wpn_npc_m14/wpn_npc_m14" load="true" />
      <texture path="units/payday2/weapons/wpn_npc_m14/m14_df" />
      <texture path="units/payday2/weapons/wpn_npc_m14/m14_nm" />
      
      <!--P90-->  
      <object path="units/payday2/weapons/wpn_npc_p90/wpn_npc_p90" />
      <cooked_physics path="units/payday2/weapons/wpn_npc_p90/wpn_npc_p90" />
      <material_config path="units/payday2/weapons/wpn_npc_p90/wpn_npc_p90" />
      <material_config path="units/payday2/weapons/wpn_npc_p90/wpn_npc_p90_contour" />
      <model path="units/payday2/weapons/wpn_npc_p90/wpn_npc_p90" />
      <sequence_manager path="units/payday2/weapons/wpn_npc_p90/wpn_npc_p90" load="true" />
      <unit path="units/payday2/weapons/wpn_npc_p90/wpn_npc_p90" load="true" />
      <texture path="units/payday2/weapons/wpn_npc_p90/p90_df" />
      <texture path="units/payday2/weapons/wpn_npc_p90/p90_nm" />
      
      <!--Judge-->  
      <object path="units/payday2/weapons/wpn_npc_judge/wpn_npc_judge" />
      <cooked_physics path="units/payday2/weapons/wpn_npc_judge/wpn_npc_judge" />
      <material_config path="units/payday2/weapons/wpn_npc_judge/wpn_npc_judge" />
      <material_config path="units/payday2/weapons/wpn_npc_judge/wpn_npc_judge_contour" />
      <model path="units/payday2/weapons/wpn_npc_judge/wpn_npc_judge" />
      <sequence_manager path="units/payday2/weapons/wpn_npc_judge/wpn_npc_judge" load="true" />
      <unit path="units/payday2/weapons/wpn_npc_judge/wpn_npc_judge" load="true" />
      <texture path="units/payday2/weapons/wpn_npc_judge/judge_df" />
      <texture path="units/payday2/weapons/wpn_npc_judge/judge_nm" />
      
      <!--Boot-->  
      <object path="units/payday2/weapons/wpn_npc_boot/wpn_npc_boot" />
      <cooked_physics path="units/payday2/weapons/wpn_npc_boot/wpn_npc_boot" />
      <material_config path="units/payday2/weapons/wpn_npc_boot/wpn_npc_boot" />
      <material_config path="units/payday2/weapons/wpn_npc_boot/wpn_npc_boot_contour" />
      <model path="units/payday2/weapons/wpn_npc_boot/wpn_npc_boot" />
      <sequence_manager path="units/payday2/weapons/wpn_npc_boot/wpn_npc_boot" load="true" />
      <unit path="units/payday2/weapons/wpn_npc_boot/wpn_npc_boot" load="true" />
      <texture path="units/payday2/weapons/wpn_npc_boot/boot_df" />
      <texture path="units/payday2/weapons/wpn_npc_boot/boot_nm" />
      
      <!--Akimbo C45-->
      <unit path="units/payday2/weapons/wpn_npc_x_c45/wpn_npc_x_c45" load="true" />
      
      <!--Akimbo MP5-->
      <unit path="units/payday2/weapons/wpn_npc_x_mp5/wpn_npc_x_mp5" load="true" />
      
      <!--Akimbo Akmsu-->
      <unit path="units/payday2/weapons/wpn_npc_x_akmsu/wpn_npc_x_akmsu" load="true" />
      
      <!--KSG-->  
      <object path="units/payday2/weapons/wpn_npc_ksg/wpn_npc_ksg" />
      <cooked_physics path="units/payday2/weapons/wpn_npc_ksg/wpn_npc_ksg" />
      <material_config path="units/payday2/weapons/wpn_npc_ksg/wpn_npc_ksg" />
      <material_config path="units/payday2/weapons/wpn_npc_ksg/wpn_npc_ksg_contour" />
      <model path="units/payday2/weapons/wpn_npc_ksg/wpn_npc_ksg" />
      <sequence_manager path="units/payday2/weapons/wpn_npc_ksg/wpn_npc_ksg" load="true" />
      <unit path="units/payday2/weapons/wpn_npc_ksg/wpn_npc_ksg" load="true" />
      <texture path="units/payday2/weapons/wpn_npc_ksg/ksg_df" />
      <texture path="units/payday2/weapons/wpn_npc_ksg/ksg_nm" />
      
      <!--L85A2-->  
      <object path="units/payday2/weapons/wpn_npc_l85a2/wpn_npc_l85a2" />
      <cooked_physics path="units/payday2/weapons/wpn_npc_l85a2/wpn_npc_l85a2" />
      <material_config path="units/payday2/weapons/wpn_npc_l85a2/wpn_npc_l85a2" />
      <material_config path="units/payday2/weapons/wpn_npc_l85a2/wpn_npc_l85a2_contour" />
      <model path="units/payday2/weapons/wpn_npc_l85a2/wpn_npc_l85a2" />
      <sequence_manager path="units/payday2/weapons/wpn_npc_l85a2/wpn_npc_l85a2" load="true" />
      <unit path="units/payday2/weapons/wpn_npc_l85a2/wpn_npc_l85a2" load="true" />
      <texture path="units/payday2/weapons/wpn_npc_l85a2/l85a2_df" />
      <texture path="units/payday2/weapons/wpn_npc_l85a2/l85a2_nm" />
      
      <!--Sterling-->  
      <object path="units/payday2/weapons/wpn_npc_sterling/wpn_npc_sterling" />
      <cooked_physics path="units/payday2/weapons/wpn_npc_sterling/wpn_npc_sterling" />
      <material_config path="units/payday2/weapons/wpn_npc_sterling/wpn_npc_sterling" />
      <material_config path="units/payday2/weapons/wpn_npc_sterling/wpn_npc_sterling_contour" />
      <model path="units/payday2/weapons/wpn_npc_sterling/wpn_npc_sterling" />
      <sequence_manager path="units/payday2/weapons/wpn_npc_sterling/wpn_npc_sterling" load="true" />
      <unit path="units/payday2/weapons/wpn_npc_sterling/wpn_npc_sterling" load="true" />
      <texture path="units/payday2/weapons/wpn_npc_sterling/sterling_df" />
      <texture path="units/payday2/weapons/wpn_npc_sterling/sterling_nm" />
      
      <!--S552-->  
      <object path="units/payday2/weapons/wpn_npc_s552/wpn_npc_s552" force="true" />
      <material_config path="units/payday2/weapons/wpn_npc_s552/wpn_npc_s552" force="true" />
      <material_config path="units/payday2/weapons/wpn_npc_s552/wpn_npc_s552_contour" force="true" />
      <model path="units/payday2/weapons/wpn_npc_s552/wpn_npc_s552" force="true" />
      <unit path="units/payday2/weapons/wpn_npc_s552/wpn_npc_s552" load="true" force="true" />
      <texture path="units/payday2/weapons/wpn_npc_s552/s552_df" />
      <texture path="units/payday2/weapons/wpn_npc_s552/s552_nm" />
      
      <!--Deagle-->  
      <object path="units/payday2/weapons/wpn_npc_deagle/wpn_npc_deagle" />
      <cooked_physics path="units/payday2/weapons/wpn_npc_deagle/wpn_npc_deagle" />
      <material_config path="units/payday2/weapons/wpn_npc_deagle/wpn_npc_deagle" />
      <material_config path="units/payday2/weapons/wpn_npc_deagle/wpn_npc_deagle_contour" />
      <model path="units/payday2/weapons/wpn_npc_deagle/wpn_npc_deagle" />
      <sequence_manager path="units/payday2/weapons/wpn_npc_deagle/wpn_npc_deagle" load="true" />
      <unit path="units/payday2/weapons/wpn_npc_deagle/wpn_npc_deagle" load="true" />
      <texture path="units/payday2/weapons/wpn_npc_deagle/deagle_df" />
      <texture path="units/payday2/weapons/wpn_npc_deagle/deagle_nm" />
      
      <!--Akimbo SR2-->
      <unit path="units/payday2/weapons/wpn_npc_x_sr2/wpn_npc_x_sr2" load="true" />
      
      <!--HK21-->  
      <object path="units/payday2/weapons/wpn_npc_hk21/wpn_npc_hk21" />
      <cooked_physics path="units/payday2/weapons/wpn_npc_hk21/wpn_npc_hk21" />
      <material_config path="units/payday2/weapons/wpn_npc_hk21/wpn_npc_hk21" />
      <material_config path="units/payday2/weapons/wpn_npc_hk21/wpn_npc_hk21_contour" />
      <model path="units/payday2/weapons/wpn_npc_hk21/wpn_npc_hk21" />
      <sequence_manager path="units/payday2/weapons/wpn_npc_hk21/wpn_npc_hk21" load="true" />
      <unit path="units/payday2/weapons/wpn_npc_hk21/wpn_npc_hk21" load="true" />
      <texture path="units/payday2/weapons/wpn_npc_hk21/hk21_df" />
      <texture path="units/payday2/weapons/wpn_npc_hk21/hk21_nm" />
      
      <!--Tecci-->  
      <object path="units/payday2/weapons/wpn_npc_tecci/wpn_npc_tecci" />
      <cooked_physics path="units/payday2/weapons/wpn_npc_tecci/wpn_npc_tecci" />
      <material_config path="units/payday2/weapons/wpn_npc_tecci/wpn_npc_tecci" />
      <material_config path="units/payday2/weapons/wpn_npc_tecci/wpn_npc_tecci_contour" />
      <model path="units/payday2/weapons/wpn_npc_tecci/wpn_npc_tecci" />
      <sequence_manager path="units/payday2/weapons/wpn_npc_tecci/wpn_npc_tecci" load="true" />
      <unit path="units/payday2/weapons/wpn_npc_tecci/wpn_npc_tecci" load="true" />
      <texture path="units/payday2/weapons/wpn_npc_tecci/tecci_df" />
      <texture path="units/payday2/weapons/wpn_npc_tecci/tecci_nm" />
      
      <!--G18c-->  
      <object path="units/payday2/weapons/wpn_npc_g18c/wpn_npc_g18c" />
      <cooked_physics path="units/payday2/weapons/wpn_npc_g18c/wpn_npc_g18c" />
      <material_config path="units/payday2/weapons/wpn_npc_g18c/wpn_npc_g18c" />
      <material_config path="units/payday2/weapons/wpn_npc_g18c/wpn_npc_g18c_contour" />
      <model path="units/payday2/weapons/wpn_npc_g18c/wpn_npc_g18c" />
      <sequence_manager path="units/payday2/weapons/wpn_npc_g18c/wpn_npc_g18c" load="true" />
      <unit path="units/payday2/weapons/wpn_npc_g18c/wpn_npc_g18c" load="true" />
      <texture path="units/payday2/weapons/wpn_npc_g18c/g18c_df" />
      <texture path="units/payday2/weapons/wpn_npc_g18c/g18c_nm" />
      
    </AddFiles>
</mod>