<mod name="BotWeapons" global_key="bot_weapons">
    <!--directory points to the directory containing the classes relative to this mods folder-->
    <AddFiles directory="assets">
      <!--Clarion-->  
      <object path="units/payday2/weapons/wpn_npc_famas/wpn_npc_famas" />
      <cooked_physics path="units/payday2/weapons/wpn_npc_famas/wpn_npc_famas" />
      <material_config path="units/payday2/weapons/wpn_npc_famas/wpn_npc_famas" />
      <material_config path="units/payday2/weapons/wpn_npc_famas/wpn_npc_famas_contour" />
      <model path="units/payday2/weapons/wpn_npc_famas/wpn_npc_famas" />
      <sequence_manager path="units/payday2/weapons/wpn_npc_famas/wpn_npc_famas" load="true" />
      <unit path="units/payday2/weapons/wpn_npc_famas/wpn_npc_famas" load="true" />
      <texture path="units/payday2/weapons/wpn_npc_famas/famas_df" />
      <texture path="units/payday2/weapons/wpn_npc_famas/famas_nm" />
      
      <!--M308-->  
      <object path="units/payday2/weapons/wpn_npc_m14/wpn_npc_m14" />
      <cooked_physics path="units/payday2/weapons/wpn_npc_m14/wpn_npc_m14" />
      <material_config path="units/payday2/weapons/wpn_npc_m14/wpn_npc_m14" />
      <material_config path="units/payday2/weapons/wpn_npc_m14/wpn_npc_m14_contour" />
      <model path="units/payday2/weapons/wpn_npc_m14/wpn_npc_m14" />
      <sequence_manager path="units/payday2/weapons/wpn_npc_m14/wpn_npc_m14" load="true" />
      <unit path="units/payday2/weapons/wpn_npc_m14/wpn_npc_m14" load="true" />
      <texture path="units/payday2/weapons/wpn_npc_m14/m14_df" />
      <texture path="units/payday2/weapons/wpn_npc_m14/m14_nm" />
      
      <!--Kobus 90-->  
      <object path="units/payday2/weapons/wpn_npc_p90/wpn_npc_p90" />
      <cooked_physics path="units/payday2/weapons/wpn_npc_p90/wpn_npc_p90" />
      <material_config path="units/payday2/weapons/wpn_npc_p90/wpn_npc_p90" />
      <material_config path="units/payday2/weapons/wpn_npc_p90/wpn_npc_p90_contour" />
      <model path="units/payday2/weapons/wpn_npc_p90/wpn_npc_p90" />
      <sequence_manager path="units/payday2/weapons/wpn_npc_p90/wpn_npc_p90" load="true" />
      <unit path="units/payday2/weapons/wpn_npc_p90/wpn_npc_p90" load="true" />
      <texture path="units/payday2/weapons/wpn_npc_p90/p90_df" />
      <texture path="units/payday2/weapons/wpn_npc_p90/p90_nm" />
      
      <!--Judge-->  
      <object path="units/payday2/weapons/wpn_npc_judge/wpn_npc_judge" />
      <cooked_physics path="units/payday2/weapons/wpn_npc_judge/wpn_npc_judge" />
      <material_config path="units/payday2/weapons/wpn_npc_judge/wpn_npc_judge" />
      <material_config path="units/payday2/weapons/wpn_npc_judge/wpn_npc_judge_contour" />
      <model path="units/payday2/weapons/wpn_npc_judge/wpn_npc_judge" />
      <sequence_manager path="units/payday2/weapons/wpn_npc_judge/wpn_npc_judge" load="true" />
      <unit path="units/payday2/weapons/wpn_npc_judge/wpn_npc_judge" load="true" />
      <texture path="units/payday2/weapons/wpn_npc_judge/judge_df" />
      <texture path="units/payday2/weapons/wpn_npc_judge/judge_nm" />
      
      <!--Breaker 12G-->  
      <object path="units/payday2/weapons/wpn_npc_boot/wpn_npc_boot" />
      <cooked_physics path="units/payday2/weapons/wpn_npc_boot/wpn_npc_boot" />
      <material_config path="units/payday2/weapons/wpn_npc_boot/wpn_npc_boot" />
      <material_config path="units/payday2/weapons/wpn_npc_boot/wpn_npc_boot_contour" />
      <model path="units/payday2/weapons/wpn_npc_boot/wpn_npc_boot" />
      <sequence_manager path="units/payday2/weapons/wpn_npc_boot/wpn_npc_boot" load="true" />
      <unit path="units/payday2/weapons/wpn_npc_boot/wpn_npc_boot" load="true" />
      <texture path="units/payday2/weapons/wpn_npc_boot/boot_df" />
      <texture path="units/payday2/weapons/wpn_npc_boot/boot_nm" />
      
      <!--Akimbo Chimano-->
      <unit path="units/payday2/weapons/wpn_npc_x_c45/wpn_npc_x_c45" load="true" />
      
      <!--Akimbo Compact-5-->
      <unit path="units/payday2/weapons/wpn_npc_x_mp5/wpn_npc_x_mp5" load="true" />
      
      <!--Akimbo Krinkov-->
      <unit path="units/payday2/weapons/wpn_npc_x_akmsu/wpn_npc_x_akmsu" load="true" />
      
      <!--Raven-->  
      <object path="units/payday2/weapons/wpn_npc_ksg/wpn_npc_ksg" />
      <cooked_physics path="units/payday2/weapons/wpn_npc_ksg/wpn_npc_ksg" />
      <material_config path="units/payday2/weapons/wpn_npc_ksg/wpn_npc_ksg" />
      <material_config path="units/payday2/weapons/wpn_npc_ksg/wpn_npc_ksg_contour" />
      <model path="units/payday2/weapons/wpn_npc_ksg/wpn_npc_ksg" />
      <sequence_manager path="units/payday2/weapons/wpn_npc_ksg/wpn_npc_ksg" load="true" />
      <unit path="units/payday2/weapons/wpn_npc_ksg/wpn_npc_ksg" load="true" />
      <texture path="units/payday2/weapons/wpn_npc_ksg/ksg_df" />
      <texture path="units/payday2/weapons/wpn_npc_ksg/ksg_nm" />
      
      <!--Queen's Wrath-->  
      <object path="units/payday2/weapons/wpn_npc_l85a2/wpn_npc_l85a2" />
      <cooked_physics path="units/payday2/weapons/wpn_npc_l85a2/wpn_npc_l85a2" />
      <material_config path="units/payday2/weapons/wpn_npc_l85a2/wpn_npc_l85a2" />
      <material_config path="units/payday2/weapons/wpn_npc_l85a2/wpn_npc_l85a2_contour" />
      <model path="units/payday2/weapons/wpn_npc_l85a2/wpn_npc_l85a2" />
      <sequence_manager path="units/payday2/weapons/wpn_npc_l85a2/wpn_npc_l85a2" load="true" />
      <unit path="units/payday2/weapons/wpn_npc_l85a2/wpn_npc_l85a2" load="true" />
      <texture path="units/payday2/weapons/wpn_npc_l85a2/l85a2_df" />
      <texture path="units/payday2/weapons/wpn_npc_l85a2/l85a2_nm" />
      
      <!--Patchett L2A1-->  
      <object path="units/payday2/weapons/wpn_npc_sterling/wpn_npc_sterling" />
      <cooked_physics path="units/payday2/weapons/wpn_npc_sterling/wpn_npc_sterling" />
      <material_config path="units/payday2/weapons/wpn_npc_sterling/wpn_npc_sterling" />
      <material_config path="units/payday2/weapons/wpn_npc_sterling/wpn_npc_sterling_contour" />
      <model path="units/payday2/weapons/wpn_npc_sterling/wpn_npc_sterling" />
      <sequence_manager path="units/payday2/weapons/wpn_npc_sterling/wpn_npc_sterling" load="true" />
      <unit path="units/payday2/weapons/wpn_npc_sterling/wpn_npc_sterling" load="true" />
      <texture path="units/payday2/weapons/wpn_npc_sterling/sterling_df" />
      <texture path="units/payday2/weapons/wpn_npc_sterling/sterling_nm" />
      
      <!--Commando 553-->  
      <object path="units/payday2/weapons/wpn_npc_s552/wpn_npc_s552" force="true" />
      <material_config path="units/payday2/weapons/wpn_npc_s552/wpn_npc_s552" force="true" />
      <material_config path="units/payday2/weapons/wpn_npc_s552/wpn_npc_s552_contour" force="true" />
      <model path="units/payday2/weapons/wpn_npc_s552/wpn_npc_s552" force="true" />
      <unit path="units/payday2/weapons/wpn_npc_s552/wpn_npc_s552" load="true" force="true" />
      <texture path="units/payday2/weapons/wpn_npc_s552/s552_df" />
      <texture path="units/payday2/weapons/wpn_npc_s552/s552_nm" />
      
      <!--Deagle-->  
      <object path="units/payday2/weapons/wpn_npc_deagle/wpn_npc_deagle" />
      <cooked_physics path="units/payday2/weapons/wpn_npc_deagle/wpn_npc_deagle" />
      <material_config path="units/payday2/weapons/wpn_npc_deagle/wpn_npc_deagle" />
      <material_config path="units/payday2/weapons/wpn_npc_deagle/wpn_npc_deagle_contour" />
      <model path="units/payday2/weapons/wpn_npc_deagle/wpn_npc_deagle" />
      <sequence_manager path="units/payday2/weapons/wpn_npc_deagle/wpn_npc_deagle" load="true" />
      <unit path="units/payday2/weapons/wpn_npc_deagle/wpn_npc_deagle" load="true" />
      <texture path="units/payday2/weapons/wpn_npc_deagle/deagle_df" />
      <texture path="units/payday2/weapons/wpn_npc_deagle/deagle_nm" />
      
      <!--Akimbo Heather-->
      <unit path="units/payday2/weapons/wpn_npc_x_sr2/wpn_npc_x_sr2" load="true" />
      
      <!--Brenner-21-->  
      <object path="units/payday2/weapons/wpn_npc_hk21/wpn_npc_hk21" />
      <cooked_physics path="units/payday2/weapons/wpn_npc_hk21/wpn_npc_hk21" />
      <material_config path="units/payday2/weapons/wpn_npc_hk21/wpn_npc_hk21" />
      <material_config path="units/payday2/weapons/wpn_npc_hk21/wpn_npc_hk21_contour" />
      <model path="units/payday2/weapons/wpn_npc_hk21/wpn_npc_hk21" />
      <sequence_manager path="units/payday2/weapons/wpn_npc_hk21/wpn_npc_hk21" load="true" />
      <unit path="units/payday2/weapons/wpn_npc_hk21/wpn_npc_hk21" load="true" />
      <texture path="units/payday2/weapons/wpn_npc_hk21/hk21_df" />
      <texture path="units/payday2/weapons/wpn_npc_hk21/hk21_nm" />
      
      <!--Bootleg-->  
      <object path="units/payday2/weapons/wpn_npc_tecci/wpn_npc_tecci" />
      <cooked_physics path="units/payday2/weapons/wpn_npc_tecci/wpn_npc_tecci" />
      <material_config path="units/payday2/weapons/wpn_npc_tecci/wpn_npc_tecci" />
      <material_config path="units/payday2/weapons/wpn_npc_tecci/wpn_npc_tecci_contour" />
      <model path="units/payday2/weapons/wpn_npc_tecci/wpn_npc_tecci" />
      <sequence_manager path="units/payday2/weapons/wpn_npc_tecci/wpn_npc_tecci" load="true" />
      <unit path="units/payday2/weapons/wpn_npc_tecci/wpn_npc_tecci" load="true" />
      <texture path="units/payday2/weapons/wpn_npc_tecci/tecci_df" />
      <texture path="units/payday2/weapons/wpn_npc_tecci/tecci_nm" />
      
      <!--Stryk 18c-->  
      <object path="units/payday2/weapons/wpn_npc_g18c/wpn_npc_g18c" />
      <cooked_physics path="units/payday2/weapons/wpn_npc_g18c/wpn_npc_g18c" />
      <material_config path="units/payday2/weapons/wpn_npc_g18c/wpn_npc_g18c" />
      <material_config path="units/payday2/weapons/wpn_npc_g18c/wpn_npc_g18c_contour" />
      <model path="units/payday2/weapons/wpn_npc_g18c/wpn_npc_g18c" />
      <sequence_manager path="units/payday2/weapons/wpn_npc_g18c/wpn_npc_g18c" load="true" />
      <unit path="units/payday2/weapons/wpn_npc_g18c/wpn_npc_g18c" load="true" />
      <texture path="units/payday2/weapons/wpn_npc_g18c/g18c_df" />
      <texture path="units/payday2/weapons/wpn_npc_g18c/g18c_nm" />
      
      <!--Predator 12G-->  
      <object path="units/payday2/weapons/wpn_npc_spas12/wpn_npc_spas12" />
      <cooked_physics path="units/payday2/weapons/wpn_npc_spas12/wpn_npc_spas12" />
      <material_config path="units/payday2/weapons/wpn_npc_spas12/wpn_npc_spas12" />
      <material_config path="units/payday2/weapons/wpn_npc_spas12/wpn_npc_spas12_contour" />
      <model path="units/payday2/weapons/wpn_npc_spas12/wpn_npc_spas12" />
      <sequence_manager path="units/payday2/weapons/wpn_npc_spas12/wpn_npc_spas12" load="true" />
      <unit path="units/payday2/weapons/wpn_npc_spas12/wpn_npc_spas12" load="true" />
      <texture path="units/payday2/weapons/wpn_npc_spas12/spas12_df" />
      <texture path="units/payday2/weapons/wpn_npc_spas12/spas12_nm" />
      
      <!--Chicago Typewriter-->  
      <object path="units/payday2/weapons/wpn_npc_m1928/wpn_npc_m1928" />
      <cooked_physics path="units/payday2/weapons/wpn_npc_m1928/wpn_npc_m1928" />
      <material_config path="units/payday2/weapons/wpn_npc_m1928/wpn_npc_m1928" />
      <material_config path="units/payday2/weapons/wpn_npc_m1928/wpn_npc_m1928_contour" />
      <model path="units/payday2/weapons/wpn_npc_m1928/wpn_npc_m1928" />
      <sequence_manager path="units/payday2/weapons/wpn_npc_m1928/wpn_npc_m1928" load="true" />
      <unit path="units/payday2/weapons/wpn_npc_m1928/wpn_npc_m1928" load="true" />
      <texture path="units/payday2/weapons/wpn_npc_m1928/m1928_df" />
      <texture path="units/payday2/weapons/wpn_npc_m1928/m1928_nm" />
      
      <!--Lion's Roar-->  
      <object path="units/payday2/weapons/wpn_npc_vhs/wpn_npc_vhs" />
      <cooked_physics path="units/payday2/weapons/wpn_npc_vhs/wpn_npc_vhs" />
      <material_config path="units/payday2/weapons/wpn_npc_vhs/wpn_npc_vhs" />
      <material_config path="units/payday2/weapons/wpn_npc_vhs/wpn_npc_vhs_contour" />
      <model path="units/payday2/weapons/wpn_npc_vhs/wpn_npc_vhs" />
      <sequence_manager path="units/payday2/weapons/wpn_npc_vhs/wpn_npc_vhs" load="true" />
      <unit path="units/payday2/weapons/wpn_npc_vhs/wpn_npc_vhs" load="true" />
      <texture path="units/payday2/weapons/wpn_npc_vhs/vhs_df" />
      <texture path="units/payday2/weapons/wpn_npc_vhs/vhs_nm" />
      
    </AddFiles>
</mod>